
build-AudioSearchQT-Desktop_Qt_5_7_0_clang_64bit-Debug/

*.autosave
*.swp

# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
build-AudioSearchQT-Desktop_Qt_5_8_0_clang_64bit-Debug/

AudioSearchCLI/AudioSearchCLI\.xcodeproj/project\.xcworkspace/xcuserdata/michael\.xcuserdatad/

AudioSearchTests/

build-AudioSearchQT-Desktop_Qt_5_8_0_clang_64bit-Release/
